Repository kult-byra/frend-v5: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typegen-schemas, typegen-queries

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,jsx,json,css}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typegen-schemas:
      glob: "**/*.schema.ts"
      root: "apps/studio/src/schemas/"
      run: pnpm typegen

    typegen-queries:
      glob: "**/*.query.ts"
      root: "apps/frontend/src/server/queries/"
      run: pnpm typegen

add hubspot form component
  apps/frontend/src/app/api/hubspot/forms/route.ts
  apps/frontend/src/env.ts
  apps/frontend/src/lib/hubspot/hubspot-secrets-namespace.util.ts
  apps/frontend/src/lib/hubspot/hubspot-secrets.query.ts
  apps/frontend/src/lib/hubspot/index.ts
  apps/frontend/src/server/sanity/sanity-auth-client.ts
  apps/frontend/src/server/sanity/sanity-live.ts
  apps/studio/.gitignore
  apps/studio/sanity.config.ts
  apps/studio/src/components/inputs/hubspot-form-input.component.tsx
  apps/studio/src/schemas/documents/hubspot-form.schema.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/structure/settings.structure.ts
  apps/studio/src/tools/hubspot/hubspot-dashboard.component.tsx
  apps/studio/src/tools/hubspot/hubspot-secrets-namespace.util.ts
  apps/studio/src/tools/hubspot/hubspot-secrets.component.tsx
  apps/studio/src/tools/hubspot/hubspot.tool.ts
  apps/studio/src/tools/hubspot/index.ts
Due: lint, typegen-schemas

format
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/api/hubspot/forms/route.ts
  apps/frontend/src/lib/hubspot/hubspot-secrets-namespace.util.ts
  apps/frontend/src/lib/hubspot/hubspot-secrets.query.ts
  apps/frontend/src/lib/hubspot/index.ts
  apps/frontend/src/server/sanity/sanity-live.ts
  apps/studio/src/components/inputs/hubspot-form-input.component.tsx
  apps/studio/src/schemas/documents/hubspot-form.schema.ts
  apps/studio/src/structure/settings.structure.ts
  apps/studio/src/tools/hubspot/hubspot-dashboard.component.tsx
  apps/studio/src/tools/hubspot/hubspot-secrets-namespace.util.ts
  apps/studio/src/tools/hubspot/hubspot-secrets.component.tsx
  apps/studio/src/tools/hubspot/hubspot.tool.ts
  apps/studio/src/tools/hubspot/index.ts
  lefthook.yml
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Set up + add news article schema
  .nvmrc
  apps/frontend/src/app/(site)/artikler/(parts)/article-archive.component.tsx
  apps/frontend/src/app/(site)/artikler/page.tsx
  apps/frontend/src/app/(site)/image-test/page.tsx
  apps/frontend/src/components/teasers/article.teaser.tsx
  apps/frontend/src/server/queries/documents/article-archive.query.ts
  apps/frontend/src/server/queries/documents/article.query.ts
  apps/frontend/src/server/queries/portable-text/portable-text.query.ts
  apps/frontend/src/server/queries/teasers/article-teaser.query.ts
  apps/studio/src/schemas/blocks/call-to-action.block.schema.ts
  apps/studio/src/schemas/documents/article.schema.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/news-and-events/news-and-events-archive.schema.ts
  apps/studio/src/schemas/documents/news-and-events/news-article.schema.ts
  apps/studio/src/schemas/generator-fields/hero-fields.field.ts
  apps/studio/src/structure/articles.structure.ts
  packages/routing/src/route.config.ts
Due: lint, typegen-schemas, typegen-queries

Add eventSchema and needed blocks
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/studio/src/components/inputs/color-input.component.tsx
  apps/studio/src/schemas/blocks/accordion.block.schema.ts
  apps/studio/src/schemas/blocks/accordions.block.schema.ts
  apps/studio/src/schemas/blocks/button.block.schema.ts
  apps/studio/src/schemas/blocks/form.block.schema.ts
  apps/studio/src/schemas/blocks/image-gallery.block.schema.ts
  apps/studio/src/schemas/blocks/index.ts
  apps/studio/src/schemas/blocks/logo-cloud.block.schema.ts
  apps/studio/src/schemas/blocks/people.block.schema.ts
  apps/studio/src/schemas/blocks/quotes.block.schema.ts
  apps/studio/src/schemas/blocks/video.block.schema.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/industry.schema.ts
  apps/studio/src/schemas/documents/logo.schema.ts
  apps/studio/src/schemas/documents/news-and-events/event-type.schema.ts
  apps/studio/src/schemas/documents/news-and-events/event.schema.ts
  apps/studio/src/schemas/documents/news-and-events/news-article.schema.ts
  apps/studio/src/schemas/documents/person.schema.ts
  apps/studio/src/schemas/documents/quote.schema.ts
  apps/studio/src/schemas/documents/services/service.schema.ts
  apps/studio/src/schemas/documents/technology.schema.ts
  apps/studio/src/schemas/generator-fields/color.field.tsx
  apps/studio/src/schemas/generator-fields/connections-fields.field.ts
  apps/studio/src/schemas/utils/default-groups.util.ts
  apps/studio/src/structure/articles.structure.ts
  apps/studio/src/utils/colors.const.ts
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Add serviceSchema + archive
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/studio/src/schemas/blocks/accordions.block.schema.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/isometric-illustration.schema.ts
  apps/studio/src/schemas/documents/services/service.schema.ts
  apps/studio/src/schemas/documents/services/services-archive.schema.ts
  apps/studio/src/schemas/generator-fields/figure.field.tsx
  apps/studio/src/schemas/generator-fields/hero-fields.field.ts
  apps/studio/src/schemas/generator-fields/portable-text/portable-text.field.ts
  apps/studio/src/schemas/utils/default-groups.util.ts
  apps/studio/src/structure/services.structure.ts
  apps/studio/src/structure/structure.ts
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Add sub service schema + blocks
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/studio/src/initial-value-templates/index.ts
  apps/studio/src/initial-value-templates/sub-service-with-service.initial-value-template.ts
  apps/studio/src/schemas/blocks/cards.block.schema.ts
  apps/studio/src/schemas/blocks/image-with-banner.block.schema.ts
  apps/studio/src/schemas/blocks/index.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/services/sub-service.schema.ts
  apps/studio/src/schemas/generator-fields/connections-fields.field.ts
  apps/studio/src/schemas/utils/service-slug.is-unique.ts
  apps/studio/src/structure/services.structure.ts
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Add seminar, knowledge article and knowedge hub schemas
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/knowledge-hub/knowledge-article.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/knowledge-hub.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/seminar.schema.ts
  apps/studio/src/schemas/documents/news-and-events/event.schema.ts
  apps/studio/src/structure/knowledge-hub.structure.ts
  apps/studio/src/structure/structure.ts
Due: lint, typegen-schemas

Add various schemas - job opening, conversion page ++
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/studio/src/schemas/blocks/image-and-text.block.schema.ts
  apps/studio/src/schemas/blocks/image-carousel.block.schema.ts
  apps/studio/src/schemas/blocks/image-with-banner.block.schema.ts
  apps/studio/src/schemas/blocks/index.ts
  apps/studio/src/schemas/blocks/job-openings.block.schema.ts
  apps/studio/src/schemas/documents/clients/client-archive.schema.ts
  apps/studio/src/schemas/documents/clients/client.schema.ts
  apps/studio/src/schemas/documents/conversion-page.schema.ts
  apps/studio/src/schemas/documents/front-page.schema.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/knowledge-hub/case-study.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/e-book.schema.ts
  apps/studio/src/schemas/documents/organisation/job-opening.schema.ts
  apps/studio/src/schemas/documents/page.schema.ts
  apps/studio/src/schemas/generator-fields/connections-fields.field.ts
  apps/studio/src/schemas/generator-fields/hero-fields.field.ts
  apps/studio/src/schemas/generator-fields/page-builder.field.ts
  apps/studio/src/structure/clients.structure.ts
  apps/studio/src/structure/organisation.structure.ts
  apps/studio/src/structure/settings.structure.ts
  apps/studio/src/structure/structure.ts
  apps/studio/src/utils/colors.const.ts
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Add and adjust last blocks
  apps/studio/src/schemas/blocks/call-to-action.block.schema.ts
  apps/studio/src/schemas/blocks/cards.block.schema.ts
  apps/studio/src/schemas/blocks/content.block.schema.ts
  apps/studio/src/schemas/blocks/images-and-text.block.schema.ts
  apps/studio/src/schemas/blocks/index.ts
  apps/studio/src/schemas/generator-fields/boolean.field.ts
Due: lint, typegen-schemas

Adjust schema errors
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/studio/src/schemas/blocks/content.block.schema.ts
  apps/studio/src/schemas/blocks/image-gallery.block.schema.ts
  apps/studio/src/schemas/blocks/images-and-text.block.schema.ts
  apps/studio/src/schemas/blocks/images-with-banner.block.schema.ts
  apps/studio/src/schemas/blocks/index.ts
  apps/studio/src/schemas/documents/clients/client.schema.ts
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/knowledge-hub/e-book.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/seminar.schema.ts
  apps/studio/src/schemas/documents/services/sub-service.schema.ts
  apps/studio/src/schemas/generator-fields/links.field.tsx
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Add menu schemas
  apps/studio/src/schemas/documents/hubspot-form.schema.ts
  apps/studio/src/schemas/generator-fields/external-link-object.field.ts
  apps/studio/src/schemas/generator-fields/links.field.tsx
  apps/studio/src/schemas/generator-fields/metadata.field.ts
  apps/studio/src/schemas/settings/menu-settings.schema.ts
  apps/studio/src/schemas/settings/metadata-settings.schema.ts
  apps/studio/src/schemas/settings/site-settings.schema.ts
Due: lint, typegen-schemas

Add footer settings schema
  apps/studio/src/schemas/blocks/people.block.schema.ts
  apps/studio/src/schemas/settings/footer-settings.schema.ts
  apps/studio/src/schemas/settings/index.ts
  apps/studio/src/structure/settings.structure.ts
Due: lint, typegen-schemas

Add remaining schemas to structure
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/organisation/organisation-settings.schema.ts
  apps/studio/src/structure/organisation.structure.ts
  apps/studio/src/structure/settings.structure.ts
Due: lint, typegen-schemas

Add hotspot formats to figure field
  apps/studio/src/schemas/documents/knowledge-hub/seminar.schema.ts
  apps/studio/src/schemas/generator-fields/figure.field.tsx
Due: lint, typegen-schemas

Add list types
  apps/frontend/src/components/portable-text/portable-text.component.tsx
  apps/studio/src/schemas/generator-fields/portable-text/portable-text.field.ts
Due: lint

Add archive pages for knowledge content
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/studio/src/schemas/documents/index.ts
  apps/studio/src/schemas/documents/knowledge-hub/case-study-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/e-book-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/knowledge-article-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/seminar-archive.schema.ts
  apps/studio/src/structure/knowledge-hub.structure.ts
  ingridtodo.md
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas

Fix image gallery block with video and manual format
  apps/studio/src/schemas/blocks/figure.block.schema.ts
  apps/studio/src/schemas/blocks/image-carousel.block.schema.ts
  apps/studio/src/schemas/blocks/image-gallery.block.schema.ts
  apps/studio/src/schemas/blocks/images-and-text.block.schema.ts
  apps/studio/src/schemas/blocks/images-with-banner.block.schema.ts
  apps/studio/src/schemas/generator-fields/figure-or-video-field.tsx
  apps/studio/src/schemas/generator-fields/hero-fields.field.ts
  apps/studio/src/schemas/generator-fields/image-format.field.ts
Due: lint, typegen-schemas

portable text styles
  apps/studio/src/schemas/generator-fields/portable-text/portable-text.field.ts
  apps/studio/styles.css
Due: lint

Update README.md
  README.md
Due: none

Update turbo.json
  turbo.json
Due: lint

typegen update
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  packages/sanity-types/sanity.types.ts
Due: lint

build fix
  apps/frontend/sanity.types.ts
  apps/frontend/src/app/(site)/image-test/page.tsx
  packages/sanity-types/sanity.types.ts
Due: lint

update links query
  apps/frontend/sanity.types.ts
  apps/frontend/src/server/queries/utils/links.query.ts
  apps/studio/src/schemas/settings/menu-settings.schema.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

add sanity cli to root for correct version
  apps/frontend/package.json
  apps/frontend/sanity.types.ts
  apps/frontend/src/components/portable-text/portable-text.component.tsx
  package.json
  packages/sanity-types/sanity.types.ts
  pnpm-lock.yaml
Due: lint

set up design tokens
  apps/frontend/sanity.types.ts
  apps/frontend/src/components/layout/menu/menu-item.component.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/checkbox.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/styles/globals.css
  packages/sanity-types/sanity.types.ts
Due: lint

scaffolding components and design system
  apps/frontend/sanity.types.ts
  apps/frontend/src/components/blocks/cards.block.component.tsx
  apps/frontend/src/components/blocks/content.block.component.tsx
  apps/frontend/src/components/blocks/images-and-text.block.component.tsx
  apps/frontend/src/components/blocks/images-with-banner.block.component.tsx
  apps/frontend/src/components/page-builder/page-builder.component.tsx
  apps/frontend/src/components/page-builder/page-builder.types.tsx
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/blocks/content.block.query.ts
  apps/frontend/src/server/queries/blocks/images-and-text.block.query.ts
  apps/frontend/src/server/queries/blocks/images-with-banner.block.query.ts
  apps/frontend/src/server/queries/page-builder/page-builder-full.query.ts
  apps/frontend/src/styles/globals.css
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-queries

add navpanel
  apps/frontend/sanity.types.ts
  apps/frontend/src/components/layout/header.component.tsx
  apps/frontend/src/components/layout/menu/collapsed-menu.component.tsx
  apps/frontend/src/components/layout/menu/expanded-menu.component.tsx
  apps/frontend/src/components/layout/menu/menu.component.tsx
  apps/frontend/src/components/layout/menu/menu.types.tsx
  apps/frontend/src/components/layout/menu/nav-badge.component.tsx
  apps/frontend/src/components/layout/menu/nav-panel.component.tsx
  apps/frontend/src/server/queries/settings/menu-settings.query.ts
  apps/frontend/src/server/queries/settings/news-events-count.query.ts
  apps/frontend/src/server/queries/settings/settings.query.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-queries

Quick build fix
  apps/frontend/package.json
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/[slug]/page.tsx
  apps/frontend/src/app/[locale]/artikler/(parts)/article-archive.component.tsx
  apps/frontend/src/app/[locale]/artikler/[slug]/page.tsx
  apps/frontend/src/app/[locale]/layout.tsx
  apps/frontend/src/components/blocks/call-to-action.block.component.tsx
  apps/frontend/src/components/blocks/cards.block.component.tsx
  apps/frontend/src/components/blocks/image-and-text.block.component.tsx
  apps/frontend/src/components/blocks/images-with-banner.block.component.tsx
  apps/frontend/src/components/layout/language-switcher.component.tsx
  apps/frontend/src/components/layout/menu/collapsed-menu.component.tsx
  apps/frontend/src/components/layout/menu/nav-panel.component.tsx
  apps/frontend/src/components/page-builder/page-builder.component.tsx
  apps/frontend/src/components/portable-text/portable-text.component.tsx
  apps/frontend/src/components/portable-text/portable-text.types.tsx
  apps/frontend/src/i18n/request.ts
  apps/frontend/src/i18n/routing.ts
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/documents/article-archive.query.ts
  apps/frontend/src/server/queries/documents/article.query.ts
  apps/frontend/src/server/queries/documents/page.query.ts
  apps/frontend/src/server/queries/page-builder/page-builder-full.query.ts
  apps/frontend/src/server/queries/teasers/article-teaser.query.ts
  apps/frontend/src/server/queries/utils/image.query.ts
  apps/frontend/src/server/queries/utils/links.query.ts
  apps/frontend/src/utils/format-metadata.util.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-queries

Studio multi lang support
  apps/studio/sanity.config.ts
  apps/studio/src/components/utils/studio-icon.component.tsx
  apps/studio/src/structure/articles.structure.ts
  apps/studio/src/structure/clients.structure.ts
  apps/studio/src/structure/knowledge-hub.structure.ts
  apps/studio/src/structure/organisation.structure.ts
  apps/studio/src/structure/services.structure.ts
  apps/studio/src/structure/settings.structure.ts
  apps/studio/src/structure/structure.ts
  apps/studio/src/structure/utils/singleton-list-item.desk.ts
  apps/studio/tsconfig.tsbuildinfo
Due: lint

Language workspace helpers
  CLAUDE.md
  apps/studio/sanity.config.ts
  apps/studio/src/components/document/index.ts
  apps/studio/src/components/document/missing-language-input.tsx
  apps/studio/src/initial-value-templates/index.ts
  apps/studio/src/schemas/documents/services/service.schema.ts
  apps/studio/src/schemas/index.ts
  apps/studio/src/schemas/utils/i18n-preview.util.ts
  apps/studio/src/utils/i18n-schema-types.util.ts
  apps/studio/tsconfig.tsbuildinfo
Due: lint, typegen-schemas

Add image or video w/format to image carousel and image gallery
  apps/studio/src/schemas/blocks/image-carousel.block.schema.ts
  apps/studio/src/schemas/blocks/image-gallery.block.schema.ts
  apps/studio/src/schemas/generator-fields/image-format.field.ts
Due: lint, typegen-schemas

Fix structure on image carousel
  apps/studio/src/schemas/blocks/image-carousel.block.schema.ts
Due: lint, typegen-schemas

Add packages
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  packages/sanity-types/sanity.types.ts
Due: lint

fix next/sanity warnings
  apps/frontend/src/proxy.ts
  apps/frontend/src/server/sanity/sanity-auth-client.ts
  package.json
  pnpm-lock.yaml
Due: lint
