Repository kult-byra/frend-v5: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typegen-schemas, typegen-queries

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,tsx,jsx,json,css}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true

    typegen-schemas:
      glob: "**/*.schema.ts"
      run: pnpm typegen

    typegen-queries:
      glob: "**/*.query.ts"
      run: pnpm typegen

Footer and header, language switcher
  apps/frontend/sanity.types.ts
  apps/frontend/src/app/[locale]/layout.tsx
  apps/frontend/src/app/[locale]/tjenester/(parts)/anchor-navigation.component.tsx
  apps/frontend/src/app/[locale]/tjenester/(parts)/service-section.component.tsx
  apps/frontend/src/app/[locale]/tjenester/(parts)/services-hero.component.tsx
  apps/frontend/src/app/[locale]/tjenester/page.tsx
  apps/frontend/src/components/blocks/cards.block.component.tsx
  apps/frontend/src/components/layout/banner.component.tsx
  apps/frontend/src/components/layout/footer.component.tsx
  apps/frontend/src/components/layout/header.component.tsx
  apps/frontend/src/components/layout/language-switcher.component.tsx
  apps/frontend/src/server/queries/documents/services-archive.query.ts
  apps/frontend/src/server/queries/settings/footer-settings.query.ts
  apps/frontend/src/server/queries/utils/links.query.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-queries

up turbo
  package.json
  pnpm-lock.yaml
Due: lint

badge filters and styling client cards
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/tjenester/(parts)/service-section.component.tsx
  apps/frontend/src/components/blocks/cards.block.component.tsx
  apps/frontend/src/components/layout/footer.component.tsx
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/studio/src/schemas/blocks/cards.block.schema.ts
  apps/studio/src/schemas/blocks/images-and-text.block.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

claude rules
  .claude/CLAUDE.md
  .claude/DESIGN.md
  .claude/rules/accessibility.md
  .claude/rules/code-style.md
  .claude/rules/container-queries.md
  .claude/rules/forms.md
  .claude/rules/nextjs.md
  .claude/rules/pagination.md
  .claude/rules/sanity-schema.md
  .claude/rules/tailwind-v4.md
  .claude/rules/type-first.md
  apps/frontend/sanity.types.ts
  apps/frontend/src/components/blocks/cards.block.component.tsx
  packages/sanity-types/sanity.types.ts
Due: lint

service pages, routing and docs
  .claude/DESIGN.md
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/services/(parts)/service-card.component.tsx
  apps/frontend/src/app/[locale]/services/(parts)/service-section.component.tsx
  apps/frontend/src/app/[locale]/services/(parts)/services-desktop-layout.component.tsx
  apps/frontend/src/app/[locale]/services/(parts)/services-hero.component.tsx
  apps/frontend/src/app/[locale]/services/(parts)/services-list.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/(parts)/service-chapter-navigation.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/(parts)/service-hero.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/(parts)/service.component.tsx
  apps/frontend/src/app/[locale]/services/page.tsx
  apps/frontend/src/components/blocks/cards/services.cards.component.tsx
  apps/frontend/src/components/portable-text/portable-text.component.tsx
  apps/frontend/src/components/portable-text/portable-text.types.tsx
  apps/frontend/src/components/sticky-bottom-container.component.tsx
  apps/frontend/src/components/technology-pill.component.tsx
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/blocks/figure.block.query.ts
  apps/frontend/src/server/queries/documents/services-archive.query.ts
  apps/frontend/src/utils/extract-chapters.util.ts
  apps/studio/src/components/inputs/slug-input.component.tsx
  apps/studio/src/schemas/blocks/figure.block.schema.ts
  apps/studio/src/schemas/documents/technology.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

Chapter navigation refactor
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/services/(parts)/anchor-navigation.component.tsx
  apps/frontend/src/app/[locale]/services/(parts)/services-desktop-layout.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/(parts)/service-chapter-navigation.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/(parts)/service-hero.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/(parts)/service.component.tsx
  apps/frontend/src/app/[locale]/services/[slug]/page.tsx
  apps/frontend/src/app/[locale]/services/page.tsx
  apps/frontend/src/components/anchor-navigation.component.tsx
  apps/frontend/src/components/portable-text/accordion.component.tsx
  apps/frontend/src/components/portable-text/portable-text.component.tsx
  apps/frontend/src/server/queries/documents/service.query.ts
  apps/frontend/src/server/queries/documents/sub-service.query.ts
  apps/frontend/src/server/queries/portable-text/portable-text.query.ts
  apps/frontend/src/server/queries/settings/string-translations.query.ts
  apps/frontend/src/utils/extract-chapters.util.ts
  apps/studio/src/schemas/settings/string-translations.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

fix build
  apps/frontend/src/i18n/routing.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/routing/package.json
  packages/routing/src/pathnames.ts
  packages/routing/src/route.config.ts
Due: lint

middleware to proxy
  apps/frontend/middleware.ts
  apps/frontend/src/proxy.ts
Due: lint

add revalidate endpoint
  apps/frontend/src/app/api/revalidate/route.ts
  apps/frontend/src/env.ts
Due: lint

add env to turbo config
  .claude/CLAUDE.md
  CLAUDE.md
  turbo.json
Due: lint

refactor file structure, add documentation
  .claude/rules/file-structure.md
  apps/frontend/src/components/fathom/fathom-base.component.tsx
  apps/frontend/src/components/layout/menu/menu-item.component.tsx
  apps/frontend/src/hooks/use-element-dimensions.hook.ts
  apps/frontend/src/hooks/use-event-listener.hook.ts
  apps/frontend/src/hooks/use-is-link-active.hook.tsx
  apps/frontend/src/hooks/use-selector-dimensions.hook.ts
  apps/frontend/src/server/queries/utils/fathom-secrets.query.ts
Due: lint, typegen-queries

header structuring, video component fixes
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/hero/media-and-form-hero.component.tsx
  apps/frontend/src/components/layout/header.component.tsx
  apps/frontend/src/components/layout/menu/collapsed-menu.component.tsx
  apps/frontend/src/components/layout/menu/contact-widget.component.tsx
  apps/frontend/src/components/layout/menu/link-href.util.ts
  apps/frontend/src/components/layout/menu/menu-item.component.tsx
  apps/frontend/src/components/layout/menu/menu.component.tsx
  apps/frontend/src/components/layout/menu/nav-badge.component.tsx
  apps/frontend/src/components/layout/menu/nav-panel.component.tsx
  apps/frontend/src/components/utils/video.component.tsx
  apps/frontend/src/hooks/use-resize-observer.hook.ts
Due: lint

Knowledge item teasers and knowledge hub
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/clients/page.tsx
  apps/frontend/src/app/[locale]/ebooks/page.tsx
  apps/frontend/src/app/[locale]/knowledge/page.tsx
  apps/frontend/src/app/[locale]/projects/page.tsx
  apps/frontend/src/app/[locale]/seminars/page.tsx
  apps/frontend/src/app/[locale]/services/(parts)/services-hero.component.tsx
  apps/frontend/src/app/[locale]/services/page.tsx
  apps/frontend/src/components/teasers/knowledge.teaser.tsx
  apps/frontend/src/server/queries/documents/article-archive.query.ts
  apps/frontend/src/server/queries/documents/case-study.query.ts
  apps/frontend/src/server/queries/documents/client.query.ts
  apps/frontend/src/server/queries/documents/e-book.query.ts
  apps/frontend/src/server/queries/documents/knowledge-article.query.ts
  apps/frontend/src/server/queries/documents/knowledge-hub.query.ts
  apps/frontend/src/server/queries/documents/seminar.query.ts
  apps/frontend/src/server/queries/documents/services-archive.query.ts
  apps/frontend/src/server/queries/teasers/knowledge-teaser.query.ts
  apps/studio/src/schemas/documents/clients/client-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/case-study-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/e-book-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/knowledge-article-archive.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/knowledge-hub.schema.ts
  apps/studio/src/schemas/documents/knowledge-hub/seminar-archive.schema.ts
  apps/studio/src/schemas/documents/news-and-events/news-and-events-archive.schema.ts
  apps/studio/src/schemas/documents/services/services-archive.schema.ts
  apps/studio/src/schemas/generator-fields/hero-fields.field.ts
  apps/studio/src/schemas/generator-fields/metadata.field.ts
  apps/studio/src/utils/i18n-schema-types.util.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

Knowledge hub
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/knowledge/(parts)/knowledge-filter-header.component.tsx
  apps/frontend/src/app/[locale]/knowledge/page.tsx
  apps/frontend/src/app/[locale]/layout.tsx
  apps/frontend/src/server/queries/documents/knowledge-hub.query.ts
  apps/frontend/src/server/queries/settings/string-translations.query.ts
  apps/studio/src/schemas/settings/string-translations.schema.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

filters and sorting dialog
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/knowledge/(parts)/knowledge-filter-dialog.component.tsx
  apps/frontend/src/app/[locale]/knowledge/(parts)/knowledge-filter-header.component.tsx
  apps/frontend/src/app/[locale]/knowledge/page.tsx
  apps/frontend/src/components/ui/dialog.tsx
  apps/frontend/src/server/queries/documents/knowledge-hub.query.ts
  apps/frontend/src/server/queries/settings/string-translations.query.ts
  apps/studio/src/schemas/settings/string-translations.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

Add fonts, fix client hover
  apps/frontend/package.json
  apps/frontend/public/fonts/SuisseIntl-Regular.woff2
  apps/frontend/public/fonts/SuisseIntl-RegularIt.woff2
  apps/frontend/public/fonts/SuisseIntl-Semibold.woff2
  apps/frontend/public/fonts/SuisseIntl-SemiboldIt.woff2
  apps/frontend/public/fonts/mabry-medium.woff
  apps/frontend/public/fonts/mabry-medium.woff2
  apps/frontend/public/fonts/mabry-regular.woff
  apps/frontend/public/fonts/mabry-regular.woff2
  apps/frontend/src/app/[locale]/layout.tsx
  apps/frontend/src/app/layout.tsx
  apps/frontend/src/components/blocks/cards/client.cards.component.tsx
  apps/frontend/src/styles/globals.css
  pnpm-lock.yaml
Due: lint

add inernationalizedArrayString for string translations
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/components/blocks/cards/client.cards.component.tsx
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/settings/string-translations.query.ts
  apps/studio/package.json
  apps/studio/sanity.config.ts
  apps/studio/src/schemas/settings/string-translations.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
  pnpm-lock.yaml
Due: lint, typegen-schemas, typegen-queries

Knowledge, news and event previews
  .vscode/settings.json
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/knowledge/page.tsx
  apps/frontend/src/components/blocks/cards.block.component.tsx
  apps/frontend/src/components/blocks/cards/knowledge.cards.component.tsx
  apps/frontend/src/components/page-builder/page-builder.component.tsx
  apps/frontend/src/components/teasers/knowledge.teaser.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/server/queries/blocks/call-to-action.block.query.ts
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/blocks/content.block.query.ts
  apps/frontend/src/server/queries/blocks/images-and-text.block.query.ts
  apps/frontend/src/server/queries/blocks/images-with-banner.block.query.ts
  apps/frontend/src/server/queries/blocks/job-openings.block.query.ts
  apps/frontend/src/server/queries/blocks/logo-cloud.block.query.ts
  apps/frontend/src/server/queries/blocks/people.block.query.ts
  apps/frontend/src/server/queries/settings/string-translations.query.ts
  apps/frontend/src/server/queries/teasers/knowledge-teaser.query.ts
  apps/studio/src/components/inputs/grid-options-input.component.tsx
  apps/studio/src/schemas/blocks/cards.block.schema.ts
  apps/studio/src/schemas/blocks/image-gallery.block.schema.ts
  apps/studio/src/schemas/settings/string-translations.schema.ts
  apps/studio/src/schemas/utils/define-block.util.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

Consolidate buttons and fix styling
  apps/frontend/src/app/[locale]/knowledge/(parts)/knowledge-filter-dialog.component.tsx
  apps/frontend/src/components/blocks/cards/client.cards.component.tsx
  apps/frontend/src/components/blocks/cards/services.cards.component.tsx
  apps/frontend/src/components/blocks/images-and-text.block.component.tsx
  apps/frontend/src/components/portable-text/portable-text.component.tsx
  apps/frontend/src/components/ui/button.tsx
  apps/frontend/src/components/ui/pagination.tsx
  apps/frontend/src/components/ui/parts/button-group.component.tsx
  apps/frontend/src/styles/globals.css
  apps/studio/migrations/update-button-variants/index.ts
  apps/studio/src/schemas/generator-fields/links.field.tsx
  apps/studio/tsconfig.tsbuildinfo
Due: lint

news, event pages, language select fix, buttons fixes
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/articles/(parts)/article-archive-skeleton.component.tsx
  apps/frontend/src/app/[locale]/articles/(parts)/article-archive.component.tsx
  apps/frontend/src/app/[locale]/articles/[slug]/(parts)/article.component.tsx
  apps/frontend/src/app/[locale]/articles/[slug]/page.tsx
  apps/frontend/src/app/[locale]/articles/page.tsx
  apps/frontend/src/app/[locale]/current/(parts)/current-filter-header.component.tsx
  apps/frontend/src/app/[locale]/current/(parts)/current-navigation.component.tsx
  apps/frontend/src/app/[locale]/current/(parts)/events-filter-header.component.tsx
  apps/frontend/src/app/[locale]/current/(parts)/news-filter-header.component.tsx
  apps/frontend/src/app/[locale]/current/events/page.tsx
  apps/frontend/src/app/[locale]/current/layout.tsx
  apps/frontend/src/app/[locale]/current/news/page.tsx
  apps/frontend/src/app/[locale]/current/page.tsx
  apps/frontend/src/app/[locale]/knowledge/(parts)/knowledge-filter-dialog.component.tsx
  apps/frontend/src/app/api/revalidate/route.ts
  apps/frontend/src/components/blocks/cards.block.component.tsx
  apps/frontend/src/components/layout/language-switcher.component.tsx
  apps/frontend/src/components/teasers/event.teaser.tsx
  apps/frontend/src/components/teasers/news.teaser.tsx
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/documents/current-archive.query.ts
  apps/frontend/src/server/queries/documents/events-archive.query.ts
  apps/frontend/src/server/queries/documents/news-archive.query.ts
  apps/frontend/src/server/queries/settings/string-translations.query.ts
  apps/frontend/src/server/queries/teasers/event-teaser.query.ts
  apps/frontend/src/server/queries/teasers/news-teaser.query.ts
  apps/studio/migrations/add-missing-language-fields/index.ts
  apps/studio/migrations/consolidate-cards-links/index.ts
  apps/studio/migrations/fix-seminar-events/index.ts
  apps/studio/src/schemas/blocks/cards.block.schema.ts
  apps/studio/src/schemas/settings/string-translations.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/routing/src/pathnames.ts
  packages/routing/src/resolve-path.ts
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

hubspot integration
  apps/frontend/package.json
  apps/frontend/src/app/api/hubspot/forms/[formId]/route.ts
  apps/frontend/src/app/dev/hubspot/page.tsx
  apps/frontend/src/components/hubspot/hubspot-form.component.tsx
  apps/frontend/src/components/hubspot/turnstile.component.tsx
  apps/frontend/src/components/layout/menu/collapsed-menu.component.tsx
  apps/frontend/src/components/layout/menu/contact-widget-content.component.tsx
  apps/frontend/src/components/layout/menu/contact-widget.component.tsx
  apps/frontend/src/components/layout/menu/expanded-menu.component.tsx
  apps/frontend/src/components/layout/menu/menu.component.tsx
  apps/frontend/src/components/layout/menu/nav-panel.component.tsx
  apps/frontend/src/components/teasers/event.teaser.tsx
  apps/frontend/src/components/ui/checkbox.component.tsx
  apps/frontend/src/components/ui/checkbox.tsx
  apps/frontend/src/components/ui/input.component.tsx
  apps/frontend/src/components/ui/input.tsx
  apps/frontend/src/components/ui/select.component.tsx
  apps/frontend/src/components/ui/select.tsx
  apps/frontend/src/components/ui/textarea.component.tsx
  apps/frontend/src/components/ui/textarea.tsx
  apps/frontend/src/env.ts
  apps/frontend/src/lib/hubspot/hubspot-form.types.ts
  apps/frontend/src/proxy.ts
  apps/frontend/src/server/actions/hubspot-form.action.ts
  apps/frontend/src/server/actions/verify-turnstile.action.ts
  apps/studio/tsconfig.tsbuildinfo
  package.json
  pnpm-lock.yaml
Due: lint

up sanity cli and turborepo
  package.json
  pnpm-lock.yaml
Due: lint

conversion pages
  .claude/hero-migration-plan.md
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/[slug]/(parts)/conversion-page.component.tsx
  apps/frontend/src/app/[locale]/[slug]/(parts)/page.component.tsx
  apps/frontend/src/app/[locale]/[slug]/page.tsx
  apps/frontend/src/app/[locale]/clients/page.tsx
  apps/frontend/src/components/layout/menu/menu-document-teaser.component.tsx
  apps/frontend/src/components/layout/menu/nav-badge.component.tsx
  apps/frontend/src/components/layout/menu/nav-panel.component.tsx
  apps/frontend/src/server/queries/documents/client.query.ts
  apps/frontend/src/server/queries/documents/page.query.ts
  apps/studio/schema.json
  apps/studio/src/schemas/documents/conversion-page.schema.ts
  apps/studio/src/schemas/fields/hero.schema.ts
  apps/studio/src/schemas/fields/index.ts
  apps/studio/src/schemas/generator-fields/hero-fields.field.ts
  apps/studio/src/schemas/generator-fields/media.field.tsx
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

fix turbo
  turbo.json
Due: lint

People pages and hero fixes
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/news/[slug]/(parts)/news-article.component.tsx
  apps/frontend/src/app/[locale]/people/[slug]/(parts)/person.component.tsx
  apps/frontend/src/app/[locale]/people/[slug]/page.tsx
  apps/frontend/src/app/[locale]/projects/[slug]/(parts)/case-study.component.tsx
  apps/frontend/src/app/[locale]/projects/page.tsx
  apps/frontend/src/app/api/revalidate/route.ts
  apps/frontend/src/app/dev/heroes/page.tsx
  apps/frontend/src/app/dev/layout.tsx
  apps/frontend/src/components/blocks/cards/case-study.cards.component.tsx
  apps/frontend/src/components/blocks/cards/knowledge.cards.component.tsx
  apps/frontend/src/components/blocks/people.block.component.tsx
  apps/frontend/src/components/hero/article-hero.component.tsx
  apps/frontend/src/components/hero/form-hero.component.tsx
  apps/frontend/src/components/hero/media-hero.component.tsx
  apps/frontend/src/components/teasers/person.teaser.tsx
  apps/frontend/src/components/utils/media.component.tsx
  apps/frontend/src/components/utils/video-play-pause-button.component.tsx
  apps/frontend/src/components/utils/vimeo-video.component.tsx
  apps/frontend/src/components/utils/youtube-video.component.tsx
  apps/frontend/src/server/queries/blocks/cards.block.query.ts
  apps/frontend/src/server/queries/blocks/people.block.query.ts
  apps/frontend/src/server/queries/documents/article.query.ts
  apps/frontend/src/server/queries/documents/case-study.query.ts
  apps/frontend/src/server/queries/documents/person.query.ts
  apps/frontend/src/server/queries/utils/hero.query.ts
  apps/studio/src/schemas/documents/news-and-events/news-article.schema.ts
  apps/studio/src/schemas/documents/person.schema.ts
  apps/studio/src/schemas/fields/hero.schema.ts
  apps/studio/src/schemas/generator-fields/hero.field.ts
  apps/studio/src/schemas/generator-fields/media.field.tsx
  apps/studio/src/schemas/utils/define-block.util.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/routing/src/pathnames.ts
  packages/routing/src/route.config.ts
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

build fixes
  apps/frontend/sanity.types.ts
  apps/frontend/src/server/queries/blocks/content.block.query.ts
  apps/frontend/src/server/queries/documents/case-study.query.ts
  apps/frontend/src/server/queries/documents/knowledge-article.query.ts
  apps/frontend/src/server/queries/documents/service.query.ts
  apps/frontend/src/server/queries/documents/services-archive.query.ts
  apps/frontend/src/server/queries/teasers/news-teaser.query.ts
  apps/frontend/src/server/queries/utils/hero.query.ts
  apps/studio/src/schemas/documents/news-and-events/news-article.schema.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-schemas, typegen-queries

build fixes
  apps/frontend/sanity.types.ts
  apps/frontend/schema.json
  apps/frontend/src/app/[locale]/[slug]/(parts)/conversion-page.component.tsx
  apps/frontend/src/components/hero/form-hero.component.tsx
  apps/frontend/src/components/hero/hero.component.tsx
  apps/frontend/src/components/utils/loading.component.tsx
  apps/frontend/src/server/queries/documents/page.query.ts
  apps/frontend/src/server/queries/documents/service.query.ts
  apps/frontend/src/server/queries/utils/hero.query.ts
  apps/studio/tsconfig.tsbuildinfo
  packages/sanity-types/sanity.types.ts
Due: lint, typegen-queries

Migration patterns (to be removed)
  .claude/commands/migrate.md
  .gitignore
  apps/frontend/.env.example
  apps/frontend/src/app/dev/layout.tsx
  apps/frontend/src/app/dev/migration/(parts)/assets-tab.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/components-tab.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/download-panel.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/mapping-tab.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/migration-dashboard.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/sanity-tab.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/space-verification.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/status-badge.component.tsx
  apps/frontend/src/app/dev/migration/(parts)/stories-tab.component.tsx
  apps/frontend/src/app/dev/migration/page.tsx
  apps/frontend/src/env.ts
  apps/frontend/src/lib/storyblok/migration-fs.ts
  apps/frontend/src/lib/storyblok/storyblok-client.ts
  apps/frontend/src/lib/storyblok/storyblok.types.ts
  apps/frontend/src/lib/storyblok/transforms/person.transform.ts
  apps/frontend/src/server/actions/sanity-migration.action.ts
  apps/frontend/src/server/actions/storyblok-migration.action.ts
  apps/frontend/src/server/sanity/sanity-write-client.ts
Due: lint
